<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Sandstorm Filesystem Viewer</title>
		<script src="static/pb-request.js"></script>
	</head>
	<body>
		<h1>Sandstorm Filesystem Viewer</h1>

		<p>This grain allows the user to view a filesystem exported by another
		grain. Click the "Request Filesystem" button below to request a
		filesystem. Then, click "Browse filesystem" to view the files.</p>

		<ul>
			<li><button id="request-btn">Request Filesystem</button></li>
			{{- if .HaveFS -}}
			<li><a href="/fs/">Browse filesystem</a></li>
			{{- end }}
		</ul>
	</body>
</html>
