<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Sandstorm Filesystem Viewer</title>
		<script src="/pb-request.js"></script>
	</head>
	<body>
		<h1>Sandstorm Filesystem Zip Uploader</h1>

		<p>This grain accepts zip files, unpacking them into a filesystem provided
		by another grain. Click "Request filesystem" to request a filesystem, then
		upload a zip file. Use the filesystem viewer grain to have a look at the
		results.</p>

		<ul>
			<li><button id="request-btn">Request Filesystem</button></li>
			{{- if .HaveFS -}}
			<form method="POST" action="/zipfile" enctype="multipart/form-data">
				<input type="file" name="zipfile"></input>
				<button type="submit">Upload</button>
			</form>
			{{- end }}
		</ul>
	</body>
</html>
